$heading1: "Playfair Display", serif;
$color-primary:#c8733a;
.page_wrapper
{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: $heading1;
    margin-bottom: 30px;
    .container{
        width: calc(100% - 30vw);
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        .post_metaData{
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 1.4em;
                margin-bottom: 20px;
                font-family: 'Roboto';
            }
            p{
            font-size: 0.6em;
             margin: 0.2em 0;
            }
            .social_share{
                svg{
                    font-size: 1.1em;
                    color: $color-primary;
                    margin-right: 0.8em;
                }
            }
        }
        .post_body{
            width: 100%;
            img{
                width: 40%;
                height: 40%;
                max-height: 40%;
                max-width: 40%;
                margin-bottom: 1em;
                margin-left: 30%;
                border: 1.4px solid $color-primary;
                border-radius: 5px;
            }
            p{
                font-size: 0.7em;
                text-align: center;
                letter-spacing: 2px;
                line-height: 1.8em;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 486px) {
    .page_wrapper{
        font-size: 18px;
        .container{
            .post_metaData{
                height: 20vh;
                p{
                    font-size: 0.8em;
                }
            }
        }
  }
}

@media (min-width:2000px){
    .page_wrapper{
        font-size: 30px;
        .container{
            .post_body{
                p{
                    font-size:1em ;
                }
            }
        }
    }
}