$heading1: "Playfair Display", serif;
$color-primary: #e9c6b8;
.contact_page{
  font-size: 24px;
    font-size: 13px;
    h1{
        margin-left: 44%;
        margin-top: 30px;
       font-size: 2.2em;
    }
}
  .formbold_mb_5 {
    margin-bottom: 20px;
  }
  .formbold_pt_3 {
    padding-top: 12px;
  }
  .formbold_main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 48px 48px 48px;
  }

  .formbold_form_wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold_form_label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold_form_label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold_form_input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold_form_input:focus {
    border-color: $color-primary;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold_btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 500;
    background-color: $color-primary;
    color: white;
    cursor: pointer;
  }
  .formbold_btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  .msg_sent{
    color: $color-primary;
    font-size: 0.7em;
  }
  @media (min-width: 540px) {
   
    .sm\:w-half {
      width: 50%;
    }
  }
  @media (max-width:600px){
    .formbold_main_wrapper{
        padding-top: 20px;
    }
    .contact_page{
        font-size: 10px;
        margin-top: 15px;
        h1{
            margin-left: 38%;
        }
    }
  }
  @media (max-width:310px){
    .contact_page{
        font-size: 10px;
        margin-top: 15px;
        h1{
            margin-left: 35%;
        }
    }
  }